#footer {
  background-color: cadetblue;
  font-weight: bold;
  h1 {
    font-size: 50px;
    color: rgb(125, 64, 21);
  }
  li {
    color: white;
  }
  @include sm {
    li {
      padding-bottom: 20px;
      font-size: 20px;
    }
  }
  @include lg {
    li {
      font-size: 25px;
    }
  }
}
