#media {
  .row {
    --bs-gutter-x: 0rem;
  }

  img {
    width: 100%;
    border: 2px solid wheat;
  }

  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明黑色背景 */
    z-index: 9999;
    /* 設定最上層 */
    display: none;
    /* 預設隱藏 */
    justify-content: center;
    align-items: center;
  }

  .video-wrapper {
    position: relative;
    // padding-top: 56.25%;
    /* 16:9 Aspect Ratio (h/w) */
    width: 100%;
    // min-height: 100vh;
    display: flex;
  }

  iframe {
    min-height: 80vh;
    margin: auto;
    min-width: 80vw;
    // min-height: 80vh;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: white;
  }
  @include lg {
    iframe {
      // margin: auto;
      // text-align: center;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);

      // width: 80%;
    }
  }
}
