body {
  margin: 0;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: black !important;
}

#navbar {
  background-color: darkcyan;
}
#navbar > ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#navbar li {
  padding: 0 20px;
}

#content {
  background-color: blanchedalmond;
}

#footer {
  background-color: gray;
}
#footer h1 {
  text-align: center;
}